body{
    background: #f0f0f0;
}
/*头部*/
/*大盒子*/
.kuang{
    width: 7.5rem;
    height: 2.6rem;
    /*background: #ff6700;*/
    margin: 0 auto;
    position: relative;
}
/*头部盒子*/
.payment-header{
    width: 7.5rem;
    height: 2.5rem;
    background: #1a14ff;
    margin: 0 auto;
}
/*信号栏*/
.header-signal {
    width: 7.5rem;
    height: 0.41rem;
    background: #212121;
    position: fixed;
}
.header-signal1 {
    width:7.5rem;
    height: 0.41rem;
    background: #212121;
}
/*内容栏*/
.header-title{
    width: 7.5rem;
    height: 0.87rem;
    background: #2f1fff;
}
/*返回*/
.header-return{
    width: 0.4rem;
    height: 0.4rem;
    background: #ffffff;
    border-radius: 50%;
    float: left;
    margin-top: 0.24rem;
    margin-left: 0.24rem;
    font-family: "iconfont";
    text-align: center;
    line-height: 0.4rem;
    color: blue;
}
/*分享*/
.header-share{
    width: 0.4rem;
    height: 0.4rem;
    background: #ffffff;
    border-radius: 50%;
    float: right;
    margin-top: 0.24rem;
    margin-right: 0.24rem;
    font-family: "iconfont";
    text-align: center;
    line-height: 0.45rem;
    color: blue;
}
/*信息栏*/
.header-center{
    width: 1.65rem;
    height: 0.38rem;
    /*background: cyan;*/
    margin-top: 0.25rem;
    margin-left: 2rem;
    float: left;
    font-size: 0.3rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.payment-information{
    width: 6.9rem;
    height: 1.26rem;
    background: #ffffff;
    margin: 0 auto;
    position: absolute;
    left: 0.3rem;
    bottom: 0;
    border-radius: 0.1rem;
    box-shadow: 0px 5px 10px 0px
    rgba(12, 0, 250, 0.51);
    border-radius: 10px;
}
.information-head{
    width: 0.91rem;
    height: 0.91rem;
    /*background: cyan;*/
    margin-top:0.17rem;
    margin-left: 0.08rem;

}
.five-content {
    width: 6.72rem;
    height: 0.96rem;
    background: #ffffff;
    position: relative;
}

.five-content img {
    width: 1.06rem;
    height: 0.78rem;
    position: absolute;
    top: 0.09rem;
    left: 0.21rem;
}
.five-content-one {
    width: 1rem;
    height: 0.23rem;
    /*background: #00ffff;*/
    position: absolute;
    top: 0.23rem;
    left: 1.82rem;
    font-family: SanFranciscoDisplay-Regular;
    font-size: 0.24rem;
    line-height: 0.23rem;
    color: #070707;
    opacity: 0.6;
}

.five-content-two {
    width: 1rem;
    height: 0.01rem;
    border: dotted 0.001rem #000000;
    opacity: 0.6;
    position: absolute;
    top: 0.47rem;
    left: 1.82rem;
}

.five-content-three {
    width: 1rem;
    height: 0.23rem;
    /*background: #00ffff;*/
    position: absolute;
    top: 0.6rem;
    left: 1.82rem;
    font-family: PingFang-SC-Regular;
    font-size: 0.22rem;
    line-height: 0.22rem;
    color: #ff39d8;
    opacity: 0.6;
}
.five-content-four{
    width: 1.63rem;
    height: 0.47rem;
    /*background: cyan;*/
    position: absolute;
    top:0.3rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.four-content{
    width: 1.63rem;
    height: 0.2rem;
    /*background: #ffffff;*/
    font-family: PingFang-SC-Regular;
    font-size: 0.2rem;
    line-height: 0.2rem;
    color: #0e0202;
    opacity: 0.6;
}
/*头部*/
/*第二行*/
.payment-two{
    width: 5.74rem;
    height: 0.51rem;
    background: #ffffff;
    margin: 0.87rem auto 0;
    display: flex;
    justify-content: space-between;
}
.two-left{
    width: 2.27rem;
    height: 0.51rem;
    background-color: #f3188e;
    border-radius: 0.26rem;
    font-family: PingFang-SC-Regular;
    text-align: center;
    font-size: 0.28rem;
    line-height:0.51rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
}
.two-right{
    width: 2.27rem;
    height: 0.51rem;
    background-color: #121eff;
    border-radius: 0.26rem;
    text-align: center;
    font-family: PingFang-SC-Regular;
    font-size: 0.28rem;
    line-height:0.51rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
}
/*第二行*/

/*第三行*/
.payment-three img{
    width:7.02rem;
    height: 1.59rem;
    margin: 0.91rem auto 0;

}

/*第三行*/
/*推荐*/
/*大盒子*/
.recommend {
    width: 7.02rem;
    height: 6.3rem;
    background: #f0f0f0;
    margin: 0.4rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*四个小盒子*/
.recommend-box {
    width: 7.02rem;
    height: 1.35rem;
    background: #d0e9c6;
    position: relative;
}

/*小盒子内容*/
.recommend-img {
    width: 1.46rem;
    height: 1.13rem;
    /*background: #9bff2f;*/
    position: absolute;
    top: 0.16rem;
}
/*图片*/
.recommend-img img {
    width: 1.46rem;
    height: 1.13rem;
}
/*第一行*/
.recommend-one {
    width: 1.51rem;
    height: 0.32rem;
    /*background: #e33333;*/
    position: absolute;
    top: 0.16rem;
    left: 1.7rem;
    font-weight: 600;

}
/*第二行*/
.recommend-two {
    width: 2rem;
    height: 0.25rem;
    /*background: #6450e3;*/
    position: absolute;
    top: 0.55rem;
    left: 1.7rem;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 0.18rem;
}
/*第三行*/
.recommend-three {
    width: 2.5rem;
    height: 0.25rem;
    /*background: #e33333;*/
    position: absolute;
    top: 0.85rem;
    left: 1.7rem;
}

.three-content {
    color: #f90fac;
    float: left;
    font-size: 0.18rem;
}

.three-content1 {
    color: #f9dc23;
    float: right;
    font-size: 0.18rem;
}
/*第四行*/
.recommend-four {
    width: 3.8rem;
    height: 0.2rem;
    /*background: #e33333;*/
    position: absolute;
    top: 1.13rem;
    left: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.four-content {
    width: 1.2rem;
    height: 0.2rem;
    /*background: #9bff2f;*/
    font-size: 0.14rem;
    font-family: "iconfont";
    color: #8c8c8c;

}

/*右边大盒子*/
.recommend-five {
    width: 1.6rem;
    height: 1.13rem;
    /*background: #9bff2f;*/
    position: absolute;
    top: 0.16rem;
    right: 0.2rem;
}

.five-top {
    width: 1.6rem;
    height: 0.3rem;
    /*background: #ff33de;*/
}

.five-top img {
    width: 0.3rem;
    height: 0.3rem;
    float: left;
}

.five-bottom {
    width: 0.49rem;
    height: 0.49rem;
    /*background: darkred;*/
    position: absolute;
    bottom: 0;
    right: 0;
}
.five-bottom img {
    width: 0.49rem;
    height: 0.49rem;

}

/*推荐*/
/*第五行*/
.payment-five{
    width: 7.02rem;
    height: 0.91rem;
    background: #f0f0f0;
    margin: 0 auto;
}
/*第五行*/































